---
title: Successful remote electrode test
---

Used speaker wire, spade connectors, and a ton of solder to attach two pipe lengths to the electrode pickups on the ECG board. 
The photo has a certain chaotic battleground feel, but the test itself was successful 👍

![bunch of tools and electronics etc]({{ site.url }}/images/DSC_0723-2.JPG)

